<footer>
    <p>Copyright @ Toby Molina Corp.</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function addStrike (checkbox){
        if ($(checkbox).is(':checked')){
            $(checkbox).next().toggleClass('checked');
        }
    }
</script>
</body>
</html>