<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">
    <link href="styles/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>ToDo List Application</title>
</head>
<body class="flex flex-col justify-center items-center bg-[#1A1A1D]">
    <nav>
        <a href="/submit" class="mr-8">Today's List</a>
        <a href="/work">Work List</a>
    </nav>